{% extends 'base.html.twig' %}

{% block title %}companies{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('company') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="title h3">
            Ajouter une entreprise:
        </div>
        <div class="my-3">
            {{form_start(form)}}
            <div class="form-group">
                <label for="">{{ form_label(form.name) }}</label>
                {{form_widget(form.name, {'attr':{ 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                <label for="">{{ form_label(form.immatriculationDate) }}</label>
                {{form_widget(form.immatriculationDate, {'attr':{ 'class':'form-control date-picker' }}) }}
            </div>
            <div class="form-group">
                <label for="">{{ form_label(form.immatriculationCity) }}</label>
                {{form_widget(form.immatriculationCity, {'attr':{ 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                <label for="">{{ form_label(form.siren) }}</label>
                {{form_widget(form.siren, {'attr':{ 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                <label for="">{{ form_label(form.capital) }}</label>
                {{form_widget(form.capital, {'attr':{ 'class':'form-control' }}) }}
            </div>
            <div class="form-group">
                <label for="">{{ form_label(form.status) }}</label>
                {{form_widget(form.status, {'attr':{ 'class':'form-control' }}) }}
            </div>
        
            <div class="address-wrapper">
                <div class="d-flex justify-content-between align-items-center my-2 ">
                    <h3 class="">Adresses:</h3>
                    <a class="btn add-address" href="#" data-index="{{ form.addresses|length > 0 ? form.addresses|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ include('company/_form_address_prototype.html.twig', { 'address': form.addresses.vars.prototype})|e('html_attr') }}" title="Ajouter une addresse">&#10133; </a>
                </div>
                {% for address in form.addresses %}
                    {{ include('company/_form_address_prototype.html.twig', {'address':address}) }}
                {% endfor %}
                {% do form.addresses.setRendered %}
            </div> 
            <div class="d-flex mt-2">
                <button type="submit" class="btn-success ml-auto">Valider</button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    {{ encore_entry_script_tags('company') }}
{% endblock %}
