{% extends 'base.html.twig' %}

{% block title %}companies{% endblock %}

{% block body %}
    <div class="container">
        <div class="title h3 my-2">
            Liste des sociétés:
        </div>
        <div class="row border">
            <div class="col font-weight-bold">Nom</div>
            <div class="col font-weight-bold">SIREN</div>
            <div class="col font-weight-bold">Capital</div>
            <div class="col-1 font-weight-bold">Actions</div>
        </div>
        {% for company in companies %}
            <div class="row border">
                <div class="col"> <a href=" {{ path('app_company_edit', {id: company.id}) }} "> {{ company.name }} </a></div>
                <div class="col">{{ company.siren }} </div>
                <div class="col">{{ company.capital }} </div>
                <div class="col-1">
                    <a href=" {{ path('app_company_edit', {id: company.id}) }} " role="button" title="Editer" class=""> &#128397;</a>
                    <a href=" {{ path('app_company_view', {id: company.id}) }} " role="button" title="Consulter" class=""> &#128269;</a>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex mt-2"><a  class=" ml-auto btn btn-success" href="{{ path('app_company_new') }}"> Ajouter une société</a></div>
    </div>
{% endblock %}
